/* universal / global css  */
html{
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

body {
    width: 100%;
    margin: 0 auto;
    color: #666666;
    font-family: "Open Sans",sans-serif;
    line-height: 24px;
}

body p{
    font-size: 12px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
::placeholder{
    font-size: .8em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}



/* Nav Bar Styling (Bootstrap) */
#siteTitle {
    color:rgb(255, 255, 255);
    /* font-family: narly, sans-serif; */
    font-family: 'DM Serif Display', serif;
    /* font-family: 'Notable', sans-serif; */
    font-size:38px;
    /* opacity:1; */
    z-index:300;
    
}
/* This is used to override Boostrap default styles and push the brand logo to center of page */
@media (min-width: 990px) {

    .navbar-brand {
    
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
    }
}
.navbar-nav{
    border-top: 2px solid black;
    float:right;
    
}


.navbar-toggler {

    border: 0px solid black;
}
.navbar-expand-lg, .navbar-collapse{
    border: 0px solid black;
    justify-content: flex-end;
    /* margin-left:60px;
    margin-right:60px; */
    
}
.navbar-brand{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    /* text-transform: uppercase; */
}

.navbar-dark {
    /* background-color:rgba(0, 0, 0, 0.932); */
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.687));
  
    /* border-bottom:5px solid rgb(55, 0, 255); */
}





/* Carousel Styling */
.carousel{
    /* padding-top: 80px; */
    text-align: center;
}
.carousel-item img{
  max-height: 300px;
}




/* Admin Dashboard / List View Styling  */
.dash-list-container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    width: 95%;
}
.dash-header-container{
    text-align: left;
    width: 80%;
}
.dash-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(180, 178, 178);
}
.dash-right-col-container{
    display:flex;
    align-items: center;
}
.dash-left-caption p{
    font-size: .6em;
    line-height: 1em;
    margin: 0;
}
.excerpt{
    font-style: italic;
}
#dash-edit-delete-container{
    text-align: right;
    padding: 0;
}
.dash-buttons:hover{
    color: lightgray;
}
.dash-buttons{
    font-size: .8em;
    background-color: white;
    border: none;
    color: #666666;
}
#dash-create-button{
    text-align: left;
}
.dash-return-link{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/*Grid Gallery Styling*/
.recent-reviews-title{
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}
.gallery{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 0 30px 0;
    align-items: flex-start; /* This line fixes a height bug in Safari browsers */
}
.album-title{
    font-style: italic;
}
.gallery-item:hover{
    filter: brightness(.8);
}
.gallery-item .col-md-4, .gallery-item .col-6{
    padding-top: 25px;
}
.searchbox-container{
    width: 90%;
    margin: 0 auto;
    padding-left: 15px;
    margin-bottom: 20px;
}
#searchbox{
    width: 33%;
}








/* SINGLE REVIEW VIEW */
.single-review-container{
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
/* Single review header */
.single-review-data-display-container{
    background-color: rgb(241, 240, 240);
    width: 100%;
}
.single-review-data-display{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
}
.single-review-text{
    display: flex;
    align-items:center;
    justify-content: center;
}
.single-review-image{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 250px;
}
.single-review-image img{
    width:100%;
}
#single-review-title{
    font-style: oblique;
    font-weight: bold;
}
.review-image-caption{
    font-size: .6em;
    font-style: italic;
}
/* Single Review Body */
.single-review-body {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.quote-and-pic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.single-review-quote {
    font-size: 1.6em;
    min-width: 300px;
}
.review-profile-pic {
    min-width: 200px;
    max-width: 400px;
}
.review-profile-pic img {
    width: 100%
}

.return-link{
    text-align: center;
    padding: 10px;
    background-color: lightgray;
}
.return-link a:hover{
    color: gray;
}
@media (max-width: 400px) {
    .single-review-body{
        width: 90%;
    }
    .single-review-quote{
        font-size: 1.3em;
    }
}






/* Edit Single Review View */
#editDelete {
    margin-top:3%;
    margin-bottom:3%;
    margin-right:2%;
}
#edit, #close, #delete {
    border:1px solid rgb(165, 0, 0);
    font-size:12px;
    background-color:white;
    margin:5px;
}
#edit {
    border-style: none;
    background-color:rgb(239, 239, 239);
    border:2px solid rgb(239, 239, 239);
}





/* FOOTER */
#footerTitle {
    font-family: 'DM Serif Display', serif;
    font-size:36px;
}


/* OLD FOOTER STYLING */
/* .top-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.social-icons-container{
    margin-right: 10px;
}

.return-top-link{
    margin-top: 20px;
    margin-bottom:-10px;
    text-align: center;
    
}
.return-top-link a{
    
    color: white;
    font-size: 12px;
}

/*  
.page-footer{
    position: relative;
}
footer {
    background-color: #343a40;
}
footer .container{
    background-color: #343a40;
    color: white;
    width: 100%;
}
.footer-copyright{
    color: grey;
    font-size: .8em;
} */






/* ACCORDION LOGIN SECTION */
/* .login-container{
    margin: 0 auto;
}
.card{
    border: none;
    border-radius: 0px;
}
.card-header{
    border:none;
}
.card-header:hover{
    text-decoration: none;
}
#headingOne2{
    background-color: #343a40;
    padding: 0;
    margin: 0;
}
#headingOne2 button{
    color: white;
    padding: 0;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: bold;
}
#collapseOne2.collapse.show {
    background-color: #343a40;
}
.card-body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #343a40;
    padding: 0;
    border: none;
}
.card-body input{
    height: 1.5em;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    margin: 2px 0 2px 0;
    max-width: 200px;
}
#login-form-button-container{
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-color: #343a40;
    max-width: 200px;
    margin-top: 5px;
}
#login-form-button{
    font-size: .8em;
    border-radius: 3px;
}
@media (max-width: 960px) {
    #login-form-button-container{
        justify-content: center;
    }
    #loginform{
        align-items: center;
    }

} */



.footer-top-layout {
    background: #1c1c1c none repeat scroll 0 0;
    color: #ffffff;
    padding: 40px 0;
}
.OurBlog {
    margin-bottom: 32px;
    text-align: center;
}
.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}

.post-blog-date {
    padding-bottom: 25px;
    position: relative;
}

body {
    color: #666666;
    font-family: "Open Sans",sans-serif;
    line-height: 24px;
}

.footer-top-layout [class*="col-sm"] {
    border: 2px solid #333333;
    padding: 10px 30px 10px 30px;
    margin-top:40px;
}

.footer-top-layout {
    color: #ffffff;
}
.footer-col-item {
    min-height: 140px;
}

address {
    color: #545454;
}

.footer-top-layout {
    color: #ffffff;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}

.footer-col-item .item-contact a {
    color: #545454;
    display: inline-block;
    margin-bottom: 7px;
    width: 100%;
}

.footer-col-item .item-contact a .link-id {
    color: #ffffff;
}
.footer-col-item span {
    line-height:16px;
}
.footer-col-item .item-contact {
    display:flex;   
}
.item-contact > a {
    display:block;
    color: #545454;
    margin-top:5px;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.signUpNewsletter {
    display:flex;
    flex-direction:column;
    align-items:center;
/* position: relative; */
}
.signUpNewsletter .gt-email {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    border-radius: 0;
    color: #ffffff;
    height: 40px;
    padding:2px;
    margin:2px;
    width:87%;

}
.signUpNewsletter .btn-go {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #666666;
    border-style: solid;
    border-width:1px;
    color: #ffffff;
    font-size: 16px;
    margin-left:0px;
    margin-top:20px;
    text-transform: uppercase;
    width:100px;
}
.footer-bottom-layout {
    background: #222222 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
    font-size:12px;
}
.socialMedia-footer {
    margin-bottom: 20px;
}
.socialMedia-footer > a {
    display: inline-block;
    margin: 0 8px;
}

  /* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	border:1px solid rgba(184, 184, 184, 0.541);
	background-color:rgb(36, 36, 36);
}
.social-network a.icoFacebook:hover {
	border:1px solid rgba(184, 184, 184, 0.541);
	background-color:rgb(36, 36, 36);
}
.social-network a.icoTwitter:hover {
	border:1px solid rgba(184, 184, 184, 0.541);
	background-color:rgb(36, 36, 36);
}
.social-network a.icoGithub:hover {
	border:1px solid rgba(184, 184, 184, 0.541);
	background-color:rgb(36, 36, 36);
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
   
}
a.socialIcon:hover, .socialHoverClass {
    
	color:black;
}

.social-circle li a {
    border:1px solid rgb(61, 61, 61);
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-ms--transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}
.social-circle i {
	color:lightgrey;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}




  
  
  

/* 
  .active{
      display: block;
  }
  .hidden{
      display: none;
  } */