/* universal / global css  */
html{
    scroll-behavior: smooth;
}
*{
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
body {
    width: 100%;
    margin: 0 auto;
    color: #666666;
    font-family: "Open Sans",sans-serif;
    line-height: 24px;
}
.btn {
    font-size: 12px;

}
.btn-primary{
    background-color: grey;
}
.btn-primary:hover{
    background-color: darkgray;
}
::placeholder{
    font-size: .8em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}






/* Nav Bar Styling (Bootstrap) */

#siteTitle {
    color:rgb(255, 255, 255);
    /* font-family: narly, sans-serif; */
    font-family: 'DM Serif Display', serif;
    /* font-family: 'Notable', sans-serif; */
    font-size:30px;
    padding-right:70px;
    opacity:1;
    z-index:300;
  }
    
  
  
  
  .navbar-toggler-icon {
    color:white;
  }
  
  .navbar-expand-lg, .navbar-collapse{
    justify-content: flex-end;
    /* margin-left:60px;
    margin-right:60px; */
  }
  
  
  .navbar-nav{
    /* border-bottom: 2px solid black; */
    float:right;
  }
  
  .navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
    }
  
  #search{
    width:30px;
    height:30px;
  }
  
  #searchBar {
    display:flex;
    flex-direction:row;
  }
  
  #searchField{
    width:100px;
    height:25px;
  
  }
  
  .nav-link {
    color:rgb(237, 255, 148);
    font-size:13px;
    /* font-family: henderson-sans-basic; */
    font-family: reason-new, sans-serif;  
    /* font-family: quicksand, sans-serif;  */
    font-weight: 400;
    font-style: normal;
    
  }
  
  
  #topNav {
    padding-top:15px;
    padding-bottom:15px;
    margin:0px;
    /* background-color:rgba(0, 0, 0, 0.932); */
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.749));
    /* border-bottom:5px solid rgb(55, 0, 255); */
  }
  


.wideRow {
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top:30px;
    margin: 0px auto;
    border-top:5px solid rgb(249, 254, 238);
}


  
  
  
  
  
  
  
  /* 
  @media (max-width: 768px) {
  
    #siteTitle {
        color:rgb(255, 255, 255);
        /* font-family: narly, sans-serif; */
        /* font-family: 'DM Serif Display', serif; */
        /* font-family: 'Notable', sans-serif; */
        /* font-size:30px; */
        /* opacity:1; */
        /* z-index:300; */
        
    /* }
  
    .navbar-brand {
        padding-right:140px;
  
    }
  
        } */ 
    
  
    @media only screen and (min-width: 768px) {
  
    #siteTitle {
        color:rgb(232, 255, 185);
        /* font-family: narly, sans-serif; */
        font-family: 'DM Serif Display', serif;
        /* font-family: 'Notable', sans-serif; */
        font-size:42px;
        /* opacity:1; */
        z-index:300;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
  
  
    }

  }

 

/* 
/////////////////////////////
///  CAROUSEL STYLING   ////
/////////////////////////// */

.carousel{
    background-image: linear-gradient(rgb(0, 0, 0, 0.749),rgba(116, 118, 90, 0.133));
    /* padding-top: 80px; */
    text-align: center;
  }

.carousel-item img{
    padding-top:50px;
    padding-bottom:90px;
    min-height:450px;
  max-height: 450px;

}
/* .carousel-control-prev-icon{
  color: lightgray;
} */

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 2em;
  color: lightgray;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2em;
  color: lightgray;
}



/* 
/////////////////////////////////
///  ADMIN DASHBOARD STYLING  //
/////////////////////////////// */
.dash-list-container{
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    padding-top: 0;
    align-items: center;
    width: 80%;
    background-color: rgb(243, 243, 243);
}
#dash-recent-reviews{
    padding: 15px;
}
.dash-header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.dash-header-buttons{
    padding: 0;
    margin-bottom: 10px;
}
.dash-searchbox-container{
    text-align: right;
    padding: 0;
    margin-bottom: 10px;
}
#dash-searchbox{
    min-width: 100px;
    max-width: 150px;
    padding: 2px;
}
.dash-item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(240, 238, 238);
}
.dash-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(180, 178, 178);
    background-color: white;
}
.dash-check-col{
    display: flex;
    align-items: center;
}
.dash-right-col-container{
    display:flex;
    align-items: center;
    padding-left: 20px;
}
.dash-left-img{
    max-width: 50px;
}
.dash-left-caption p{
    font-size: .8em;
    line-height: 1em;
    margin: 0;
}
.excerpt{
    font-style: italic;
}
#dash-edit-delete-container{
    text-align: right;
    padding: 0;
}
.dash-buttons:hover{
    color: lightgray;
}
.dash-buttons{
    font-size: 1em;
    background-color: transparent;
    border: none;
    color: #666666;
}
#dash-create-button{
    text-align: left;
}
.dash-return-link{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
@media (max-width: 720px){
    .dash-list-container{
        width: 95%;
        margin: 0 auto;
    }
}






.home-page-body{
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    text-align: center;
}




/* 
//////////////////////////////
///  FEATURED STORIES STYLING  //
//////////////////////////// */
.featured-articles-container{
    width: 90%;
    background-color: rgb(238, 238, 238);
    margin: 70px auto;
}
.featured-articles-body-container{
    width: 90%;
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
    padding: 10px;
    background-color: white;
    border-top: 3px solid rgb(238, 238, 238);
}
.featured-left-col{
    padding: 30px;
    max-width: 400px;
}
.featured-right-col{
    padding: 30px;
    max-width: 400px;
    border-left: 3px solid rgb(238, 238, 238);
}
#feature-left-img{
    width: 70%;
    max-width: 300px;
}
#feature-right-img1{
    width: 70%;
    max-width: 300px;
}
#feature-right-img2{
    width: 70%;
    max-width: 300px;
}
.button-no-border{
    background-color: transparent;
    border-style: none;

}



/* 
//////////////////////////////
///  GRID GALLERY STYLING  //
//////////////////////////// */
.recent-reviews-title{
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    font-family: reason-new, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
}

.gallery{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding: 0 0 30px 0;
    align-items: flex-start; /* This line fixes a height bug in Safari browsers */
}
.album-title{
    font-style: italic;
}
.gallery-item:hover{
    filter: brightness(.8);
}
.gallery-item .col-md-4, .gallery-item .col-6{
    padding-top: 25px;
}
.searchbox-container{
    width: 90%;
    margin: 30px auto;
}
#searchbox{
    width: 33%;
    min-width: 250px;
    max-width: 300px;
    padding: 2px;
    border: none;
}






/* 
/////////////////////////////
///  SINGLE REVIEW VIEW  ///
/////////////////////////// */
.single-review-container{
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
/* Single review header */
.single-review-data-display-container{
    background-color: rgb(241, 240, 240);
    width: 100%;
}
.single-review-data-display{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
}
.single-review-text{
    display: flex;
    align-items:center;
    justify-content: center;
}
.single-review-image{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 250px;
}
.single-review-image img{
    width:100%;
}
#single-review-title{
    font-style: oblique;
    font-weight: bold;
}
.review-image-caption{
    font-size: .6em;
    font-style: italic;
}
/* Single Review Body */
.single-review-body {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.quote-and-pic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.single-review-quote {
    font-size: 1.6em;
    min-width: 300px;
}
.review-profile-pic {
    min-width: 200px;
    max-width: 400px;
}
.review-profile-pic img {
    width: 100%
}

.return-link{
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    color: black;
}
.return-link a:hover{
    color: gray;
}
@media (max-width: 400px) {
    .single-review-body{
        width: 90%;
    }
    .single-review-quote{
        font-size: 1.3em;
    }
}








/* 
////////////////////////////////////
///  CREATE NEW REVIEW STYLING  ///
////////////////////////////////// */
.create-form-container{
    width: 60%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
}
.form-group{
    margin-bottom: .8rem;
    display: flex;
    justify-content: space-between;
}
.create-form-field{
    padding: 0;
    width: 45%;
}
.form-control{
    border-radius: 0;
}
#editor{
    height: 200px;
    padding: 10px;
}
.publish-post{
    width: 100px;
}
.publish-button-container{
    text-align: right;
    padding-right: 20px;
}
@media (max-width: 400px){
    .create-form-container{
        width: 90%;
    }
}







/* 
/////////////////////////////////////
///  EDIT REVIEW BUTTON STYLING  ///
/////////////////////////////////// */
#editDelete {
    margin-top:3%;
    margin-bottom:3%;
    margin-right:2%;
}
.confirm-delete-button{
    border:1px solid rgb(165, 0, 0);
    font-size:12px;
    background-color:white;
    margin:5px;
    border-style: none;
    background-color:rgb(239, 239, 239);
    border:2px solid rgb(239, 239, 239);
}
.publish-changes-button, .show-edit-button{
    font-size:12px;
    background-color:white;
    margin:5px;
    border: none;
}
#close, #delete {
    border:1px solid rgb(165, 0, 0);
    font-size:12px;
    background-color:white;
    margin:5px;
}




/* 
////////////////////////////////////
///  ABOUT ME SECTION STYLING   ///
////////////////////////////////// */
.member {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.box {
  width: 400px;
}


.team-title {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.andre-pic {
  background-image: url(https://res.cloudinary.com/dfmeqlgua/image/upload/v1598494272/Screen_Shot_2020-08-26_at_10.10.13_PM_uc3z9i.png);
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.magda-pic {
  background-image: url(https://res.cloudinary.com/dfmeqlgua/image/upload/v1598496391/Screen_Shot_2020-08-26_at_10.45.04_PM_vwnpp3.png);
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.kenal-pic {
  background-image: url(https://res.cloudinary.com/dfmeqlgua/image/upload/v1598499486/Screen_Shot_2020-08-26_at_10.42.37_PM_wt77vr.png);
  background-size: cover;
  background-position-y: -25px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.lea-pic {
  background-image: url(https://res.cloudinary.com/dfmeqlgua/image/upload/v1598507486/Screen_Shot_2020-08-26_at_11.35.17_PM_uyk3uf.png);
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.biz-pic {
  background-image: url(https://res.cloudinary.com/dfmeqlgua/image/upload/v1598507823/Besrat_Professional_Pic_bcwia4.jpg);
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.jeremy-pic {
  background-image: url(https://res.cloudinary.com/dfmeqlgua/image/upload/v1598497699/Screen_Shot_2020-08-26_at_11.08.04_PM_vei4te.png);
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}



/* 
////////////////////
///   FOOTER   ////
////////////////// */
#footerTitle {
    font-family: 'DM Serif Display', serif;
    font-size:20px;
}




/* ACCORDION LOGIN SECTION */
/* .login-container{
    margin: 0 auto;
}
.card{
    border: none;
    border-radius: 0px;
}
.card-header{
    border:none;
}
.card-header:hover{
    text-decoration: none;
}
#headingOne2{
    background-color: #343a40;
    padding: 0;
    margin: 0;
}
#headingOne2 button{
    color: white;
    padding: 0;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: bold;
}
#collapseOne2.collapse.show {
    background-color: #343a40;
}
.card-body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #343a40;
    padding: 0;
    border: none;
}
.card-body input{
    height: 1.5em;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    margin: 2px 0 2px 0;
    max-width: 200px;
}
#login-form-button-container{
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-color: #343a40;
    max-width: 200px;
    margin-top: 5px;
}
#login-form-button{
    font-size: .8em;
    border-radius: 3px;
}
@media (max-width: 960px) {
    #login-form-button-container{
        justify-content: center;
    }
    #loginform{
        align-items: center;
    }

} */



.footer-top-layout {
    background: #1c1c1c none repeat scroll 0 0;
    color: #ffffff;
    padding: 40px 0;
}
.OurBlog {
    margin-bottom: 32px;
    text-align: center;
}
.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}

.post-blog-date {
    padding-bottom: 25px;
    position: relative;
}

body {
    color: #666666;
    font-family: "Open Sans",sans-serif;
    line-height: 24px;
}

.footer-top-layout [class*="col-sm"] {
    border: 2px solid #333333;
    padding: 10px 30px 10px 30px;
    margin-top:40px;
}

.footer-top-layout {
    color: #ffffff;
}
.footer-col-item {
    min-height: 140px;
}

address {
    color: #545454;
}

.footer-top-layout {
    color: #ffffff;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
}

.footer-col-item .item-contact a {
    color: #545454;
    display: inline-block;
    margin-bottom: 7px;
    width: 100%;
}

.footer-col-item .item-contact a .link-id {
    color: #ffffff;
}
.footer-col-item span {
    line-height:16px;
}
.footer-col-item .item-contact {
    display:flex;
}
.item-contact > a {
    display:block;
    color: #545454;
    margin-top:5px;
}

.footer-top-layout h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 21px;
}
.signUpNewsletter {
    display:flex;
    flex-direction:column;
    align-items:center;
/* position: relative; */
}
.signUpNewsletter .gt-email {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #666666;
    border-radius: 0;
    color: #ffffff;
    height: 40px;
    padding:2px;
    margin:2px;
    width:87%;

}
.signUpNewsletter .btn-go {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #666666;
    border-style: solid;
    border-width:1px;
    color: #ffffff;
    font-size: 16px;
    margin-left:0px;
    margin-top:20px;
    text-transform: uppercase;
    width:100px;
}
.footer-bottom-layout {
    background: #222222 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
    font-size:12px;
}
.socialMedia-footer {
    margin-bottom: 20px;
}
.socialMedia-footer > a {
    display: inline-block;
    margin: 0 8px;
}

  /* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	border:1px solid rgba(184, 184, 184, 0.541);
	background-color:rgb(36, 36, 36);
}
.social-network a.icoFacebook:hover {
	border:1px solid rgba(184, 184, 184, 0.541);
	background-color:rgb(36, 36, 36);
}
.social-network a.icoTwitter:hover {
	border:1px solid rgba(184, 184, 184, 0.541);
	background-color:rgb(36, 36, 36);
}
.social-network a.icoGithub:hover {
	border:1px solid rgba(184, 184, 184, 0.541);
	background-color:rgb(36, 36, 36);
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;

}
a.socialIcon:hover, .socialHoverClass {

	color:black;
}

.social-circle li a {
    border:1px solid rgb(61, 61, 61);
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-ms--transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}
.social-circle i {
	color:lightgrey;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.return-top-link-container{
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: rgb(44, 44, 44);
}
#return-to-top{
    color: white;
}
#return-to-top:hover{
    color: grey;
}







.is-visible{
    display: block;
}

.is-hidden{
    display:none;
}
